src/java/META-INF/imageWS.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://image.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://image.me.org/" name="imageWS">
<types>
<xsd:schema>
<xsd:import namespace="http://image.me.org/" schemaLocation="http://localhost:8080/WebApplicationUltraSophisticated/imageWS?xsd=1"/>
</xsd:schema>
</types>
<message name="SearchbyCreaDate">
<part name="parameters" element="tns:SearchbyCreaDate"/>
</message>
<message name="SearchbyCreaDateResponse">
<part name="parameters" element="tns:SearchbyCreaDateResponse"/>
</message>
<message name="ModifyImage">
<part name="parameters" element="tns:ModifyImage"/>
</message>
<message name="ModifyImageResponse">
<part name="parameters" element="tns:ModifyImageResponse"/>
</message>
<message name="SearchbyId">
<part name="parameters" element="tns:SearchbyId"/>
</message>
<message name="SearchbyIdResponse">
<part name="parameters" element="tns:SearchbyIdResponse"/>
</message>
<message name="SearchbyAuthor">
<part name="parameters" element="tns:SearchbyAuthor"/>
</message>
<message name="SearchbyAuthorResponse">
<part name="parameters" element="tns:SearchbyAuthorResponse"/>
</message>
<message name="RegisterImage">
<part name="parameters" element="tns:RegisterImage"/>
</message>
<message name="RegisterImageResponse">
<part name="parameters" element="tns:RegisterImageResponse"/>
</message>
<message name="ListImages">
<part name="parameters" element="tns:ListImages"/>
</message>
<message name="ListImagesResponse">
<part name="parameters" element="tns:ListImagesResponse"/>
</message>
<message name="SearchbyKeywords">
<part name="parameters" element="tns:SearchbyKeywords"/>
</message>
<message name="SearchbyKeywordsResponse">
<part name="parameters" element="tns:SearchbyKeywordsResponse"/>
</message>
<message name="SearchByTitle">
<part name="parameters" element="tns:SearchByTitle"/>
</message>
<message name="SearchByTitleResponse">
<part name="parameters" element="tns:SearchByTitleResponse"/>
</message>
<portType name="imageWS">
<operation name="SearchbyCreaDate">
<input wsam:Action="http://image.me.org/imageWS/SearchbyCreaDateRequest" message="tns:SearchbyCreaDate"/>
<output wsam:Action="http://image.me.org/imageWS/SearchbyCreaDateResponse" message="tns:SearchbyCreaDateResponse"/>
</operation>
<operation name="ModifyImage">
<input wsam:Action="http://image.me.org/imageWS/ModifyImageRequest" message="tns:ModifyImage"/>
<output wsam:Action="http://image.me.org/imageWS/ModifyImageResponse" message="tns:ModifyImageResponse"/>
</operation>
<operation name="SearchbyId">
<input wsam:Action="http://image.me.org/imageWS/SearchbyIdRequest" message="tns:SearchbyId"/>
<output wsam:Action="http://image.me.org/imageWS/SearchbyIdResponse" message="tns:SearchbyIdResponse"/>
</operation>
<operation name="SearchbyAuthor">
<input wsam:Action="http://image.me.org/imageWS/SearchbyAuthorRequest" message="tns:SearchbyAuthor"/>
<output wsam:Action="http://image.me.org/imageWS/SearchbyAuthorResponse" message="tns:SearchbyAuthorResponse"/>
</operation>
<operation name="RegisterImage">
<input wsam:Action="http://image.me.org/imageWS/RegisterImageRequest" message="tns:RegisterImage"/>
<output wsam:Action="http://image.me.org/imageWS/RegisterImageResponse" message="tns:RegisterImageResponse"/>
</operation>
<operation name="ListImages">
<input wsam:Action="http://image.me.org/imageWS/ListImagesRequest" message="tns:ListImages"/>
<output wsam:Action="http://image.me.org/imageWS/ListImagesResponse" message="tns:ListImagesResponse"/>
</operation>
<operation name="SearchbyKeywords">
<input wsam:Action="http://image.me.org/imageWS/SearchbyKeywordsRequest" message="tns:SearchbyKeywords"/>
<output wsam:Action="http://image.me.org/imageWS/SearchbyKeywordsResponse" message="tns:SearchbyKeywordsResponse"/>
</operation>
<operation name="SearchByTitle">
<input wsam:Action="http://image.me.org/imageWS/SearchByTitleRequest" message="tns:SearchByTitle"/>
<output wsam:Action="http://image.me.org/imageWS/SearchByTitleResponse" message="tns:SearchByTitleResponse"/>
</operation>
</portType>
<binding name="imageWSPortBinding" type="tns:imageWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="SearchbyCreaDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegisterImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListImages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="imageWS">
<port name="imageWSPort" binding="tns:imageWSPortBinding">
<soap:address location="http://localhost:8080/WebApplicationUltraSophisticated/imageWS"/>
</port>
</service>
</definitions>